  <!--Seccion del contenido del subtitulo del modulo subtitulo-->
  <app-subtitulo></app-subtitulo>
  <!----------------------------------------------------------->

  <!-- Sección de los iconos ------------------------------------------------->
  <app-iconos></app-iconos>
  <!---------------------------------------------------------------->
  
&nbsp;
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="..//assets/icon/angular-cli.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Angular CLI</h5>
        <p class="card-text">Concentración de comandos para la genereación y administración de single aplicatión web con Angular.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Actualizado el 30/03/2020</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..//assets/icon/arbol.PNG" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Estructura del arbol de una aplicación en Angular</h5>
        <p class="card-text">Identificación y explicación de cada componente de una aplicación en Angular</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Actualizado el 30/03/2020</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..//assets/icon/angular-routing.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Routing entre módulos</h5>
        <p class="card-text">Explicación de la programación, administración y comunicación entre diversos módulos</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Actualizado el 30/03/2020</small>
      </div>
    </div>
  </div>
  &nbsp;