<footer class="page-footer font-small unique-color-dark">


  
  <div class=" text-center text-md-left fondo">

    <div class="fondoprincipal">
      &nbsp;
      <p id="mensaje"><strong>Las grandes oportunidades,
        solo se precentan una sola vez en la vida.
        <br>Estas preparado?</strong>
      </p> 
      &nbsp;
    </div>
    
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Sobre mi</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Apasionado del desarollo de software, con hambre cada día de saber como
          se construyen y mejoran las tecnologías.</p>
      </div>


      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contacto</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Guanajutato, Valle de Santiago, MX</p>
        <p>
          <p>
            <i class="fas fa-home mr-3"></i> Jalisco, Guadalajara, MX</p>
          <p>
          <i class="fas fa-envelope mr-3"></i>carlos4561059919@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 4531364032</p>
      </div>

    </div>
  </div>


  <div class="footer-copyright text-center py-3 bg-dark">
    <p class="mb-0">© 2020 Copyright: <a class="mb-0" href=""> Juan Carlos Mendoza García</a></p>
  </div>
</footer>
