.Bar-tittle{
  background-color: #d43c3c;
}
.mb-0{
  color: aliceblue;
}
.fondoprincipal{
 background-color: #d43c3c;
}
#mensaje{
  text-align: center;
}
.fondo{
 background-color: #c54b4b;
 color: aliceblue;
}
.row{
  display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}
