<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <!--------------------------------------------------------->
  <header>
    <nav class="navbar navbar-expand-lg navbar navbar-dark fixed-top bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="navbar-brand">
            <img src="assets/icon/Cap.png" class="logo" alt="Logo" style="width:30px;">
          </a>
          <a class="navbar-brand">JC</a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Angular" routerLinkActive="active">Angular</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Java" routerLinkActive="active">Java</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Net" routerLinkActive="active">C#</a>
            </li>
          </ul>
          <div class="spacer"></div>
          <a href="https://github.com/CarlosJCdev"><i class="fab fa-github fa-2x"></i></a>
          &nbsp;&nbsp;
          <a href="https://www.linkedin.com/in/juan-carlos-mendoza-garcia-b279bb122/"><i
              class="fab fa-linkedin fa-2x"></i></a>
        </div>
      </div>
    </nav>
  </header>
  <!------------------------------------------>


  <!-- Contenido de la pagina--------------------------------------->
  <section class="Content">
    <router-outlet></router-outlet>
  </section>
  <!-------------------------------------------------------------->

<!--Pie de pagina-------------------------->
<app-footer></app-footer>
<!---------------------------------------->

</body>
</html>