<section class="SectionP">
    <div class="Articulos">
      <div class="Titulo">
        <div class="Introducction">
          <div class="Tittle">
            <h3>Las grandes cosas tienen pequeños comienzos</h3>
            <div class="Publicado">
              <div id="Date">
                <p class="Update">Actualizado<span>26/03/2020</span></p>
              </div>
              <img class="Foto" src="../assets/icon/Cap.png">
              <div id="Autor">
                <p class="Update">Escrito por<span>Juan Carlos Mendoza Garcia</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>