<div class="SectionS" >
    <a href="https://docs.oracle.com/en/java/" title="Documentación Java"> <i class="fab fa-java fa-3x"></i></a>
    <a href="https://angular.io/docs"><i class="fab fa-angular fa-3x" title="Documentación Angular"></i></a>
    <a href="https://devdocs.io/html/"><i class="fab fa-html5 fa-3x" title="Documentación HTML5"></i></a>
    <a href="https://devdocs.io/css/"><i class="fab fa-css3-alt fa-3x" title="Documentación CSS3"></i></a>
    <a href="https://devdocs.io/javascript/"><i class="fab fa-js fa-3x" title="Documentación Javascript"></i></a>
    <a href="https://developer.android.com/docs"><i class="fab fa-android fa-3x" title="Documentación Android"></i></a>
    <a href="https://docs.npmjs.com/"><i class="fab fa-npm fa-3x" title="Documentación NPM"></i></a>
    <a href="https://nodejs.org/es/docs/"><i class="fab fa-node-js fa-3x" title="Documentación Node.js"></i></a>
    <a href="https://guides.github.com/"><i class="fab fa-github-square fa-3x" title="Documentación Github"></i></a>
    <a href="https://docs.joomla.org/Main_Page"> <i class="fab fa-joomla fa-3x" title="Documentación Joomla"></i></a>
  </div>