.SectionS{
    background-size: cover;
    background-color: rgb(212, 60, 60, );
    padding: 20px 0;
    height: 90px;
    text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 57px;
  z-index: 1;
  }
  .SectionS i{
    margin: 0 30px 0px 30px;
  }
  
  .fab {
    //  color: #d43a3a;
   // color: #a7b0ba;
   color: #d7dce3;
    }
    i:hover{
      color: #343a40;
    }
